@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.offset:bofore {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;

}
/*Navigation */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: .1rem;

  background: rgba(0,0,0,0.6)!important;

}

.navbar-brand img{
  height: 2rem;
}

.navbar-nav li{
  padding-right: .7rem;

}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}

/*This is the start of landing page css*/
/*
.home-inner{
  background-image: url({{url_for('static',filename='img/computers.png')}});
}*/




.caption{
  width:100%;
  max-width: 100%;
  position: absolute;
  top:38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.1rem;
  font-size: 1.1rem;
}





/*Start of Resources Section */

.fixed{
  background-image: url(img/whi.jpg);
  z-index: -1;

}
.dark {
  background-color: none;
  color: white;
  padding:7rem 2rem;
}

.fixed-background h3{
  margin-bottom: 2rem;


}

.fixed-background p{
  margin-top: 1.5rem;
}

/*#comment{
  background-image: url(img/search.png);
  background-color: #a5a5a5;
}
*/
.transparent-input {
   background-color: rgba(0.9, 0.3, 0.3, 0.5);
   border:none;
}




/*This is the start of the media queries */
@media(max-width: 767px) {
.caption h1{
  font-size: 2.2rem;
  letter-spacing: .15rem;
  padding-bottom: .5rem;
}
.caption h3{
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}
.btn-lg{
  padding: .5rem 1rem;
  font-size: 1rem;
}
.narrow h1{
  font-size: 1.4rem;

}
.clients img{
  width:50%;
  display: block;
  margin: 0 auto;
}

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

